{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}
<header>
	<div class="container">
        <div class="row">
            <div class="col-sm-2">
                <img class="img-fluid" src="{% static 'images/enTete.png' %}" alt="Icône phare" id="entete-img"/>
                <p script="text-align:center;margin-bottom:0px;">{% trans 'Le Phare' %}</p>
            </div>
            <div class="col-sm-8">
                <h1>{% trans 'Urgence : Shawinigan' %}</h1>
            </div>
            <div class="col-sm-2" style="text-align:right">
			
			{% get_current_language as LANGUAGE %}
            <form action="{% url 'set_language' %}" method="post">
				{% csrf_token %}
				<input name="language" 
					{% if LANGUAGE == 'en-us' %}
						value="fr-ca"
					{% else %}
						value="en-us"
					{% endif %}
				type="hidden"/>
                <button type="submit">FR/EN</button>
            </form>
	    <a href="/signup">
                <button> S'enregistrer </button> <!-- trans -->
	</a>
	    <form action={% url "login" %}>
                <button> Connexion </button> <!-- trans -->
            </form>
            </div>
        </div>
    </div>
</header>
