{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% load staticfiles %}
<header>
	<div class="container flex-container">
        <div>
            <a href='/'>
                <img src="{% static 'images/enTete.png' %}" alt="Icône phare" id="entete-img"/>
            </a>
        </div>
        <div id="ent_titre">
            <h1>{% trans 'Urgence : Shawinigan' %}</h1>
        </div>
        <div class="btn-group-vertical">

        {% get_current_language as LANGUAGE %}
            <form action="{% url 'set_language' %}" method="post">
                {% csrf_token %}
                <input name="language"
                    {% if LANGUAGE == 'en' %}
                        value="ca-fr"
                    {% else %}
                        value="en"
                    {% endif %}
                type="hidden"/>
                <button type="submit" class="btn btn-link" id="echange_langue">FR/EN</button>
            </form>
			{% if user.is_authenticated %}
            <span id="user_id">{{ user.username }} </span>
            <form action="{% url 'logout' %}">
                    <button class="btn btn-primary" id="btn_deco">{% trans 'Déconnexion' %}</button>
            </form>

			{% else %}
            <a href="/signup">
                    <button class="btn btn-primary" id="btn_inscription">{% trans "S'inscrire" %}</button>
            </a>
            <form action="{% url 'login' %}">
                    <button class="btn btn-primary" id="btn_conf1">{% trans 'Connexion' %}</button>
            </form>
			{% endif %}
        </div>
        </div>
    </div>
</header>
