{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<nav>
    <div class="container flex-container">
        <!--
        <div><a href="{% url 'flux' %}">{% trans "Fil d'actualité" %}</a></div>
        <div><a href="{% url 'choix_ressource' %}">{% trans 'Ressources disponibles' %}</a></div>
        <div><a href="{#% url 'que_faire' %#}">{% trans 'QUE FAIRE?' %}</a></div>

        -->
        <ul>
            <li><a href="{% url 'flux' %}">{% trans "Fil d'actualité" %}</a></li>
            <li><a href="{% url 'choix_ressource' %}">{% trans 'Ressources disponibles' %}</a></li>
            <li><a href="{#% url 'que_faire' %#}">{% trans 'QUE FAIRE?' %}</a></li>
        </ul>

    </div>
</nav>
