<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<meta charset="utf-8" />
		{% load staticfiles %}
		<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type = "text/css"/>
	</head>
	
	<body>
		{% include 'enTete.html.j2' %}
		{% include 'menu.html.j2' %}
		<article>
			{% block content %}
			
			{% endblock %}
		</article>
		{% include 'piedPage.html.j2' %}
	</body>
</html>
