{# Page affichant l'ensemble des messages aux utilisateurs #}

{% extends 'flux.html.j2' %}

{% block title %}
	{# trans "Messages des autorités" #}
{% endblock %}


{% block content %}
	{% for message in messages %}
		<div class=row message">
			{{ message.horodatage|date:'d-m-Y'}}
		</div>
	{% endfor %}
{% endblock %}

