{# Page affichant l'ensemble des messages aux utilisateurs #}

{% extends 'flux.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}
	{% trans 'Messages des autorités' %}
{% endblock %}

{% block scripts %}
	<script src="{% static 'flux/js/rafraichir_message.js' %}"></script>
{% endblock %}

{% block content %}

	<h2>Messages des autorités</h2>

	<p class="text-secondary">{% trans 'Les messages ci-dessous sont publiés par les autorités civiles. La page se rafraîchit automatiquement toutes les 5 minutes. Merci de ne pas actualiser.' %}</p>
	
	{% for message in messages %}
		<div class=row">
			<div class="col-12 message">
				<div class="message_titre
					{% if message.type_message == "u" %}
						bg-danger
					{% elif message.type_message == "n" %}	
						bg-primary
					{% else %}
						bg-info
					{% endif %}
				">
					<div class="message_icone">
						<img src="
							{% if message.auteur == "pompier" %} 
								{% static 'flux/images/pompiers.png' %}
							{% endif %}"						
						class="img-fluid float-left"/>	
					</div>				
					<h3>
					{% if langue == "en-us" %}
						{{ message.titre_en }}
					{% else %}
						{{ message.titre_fr }}
					{% endif %}
					</h3>
				</div>			
					
				<div class="message_contenu">
					<p class="text-dark">
						{% trans 'Publié le : ' %}{{ message.horodatage|date:'d-m-Y'}}
					</p>
					<p>
						{% if langue == "en-us" %}
							{{ message.message_en }}
						{% else %}
							{{ message.message_fr }}
						{% endif %}
					</p>
				</div>			
			</div>
		</div>
	{% endfor %}
{% endblock %}

