{# Structure du wiki #}
{# Structure en deux niveau #}

{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'que_faire/css/que_faire.css' %}" type="text/css" />
{% endblock %}

{% block content %}
	<h2>{% trans "Que faire en cas de catastrophe" %}</h2>

	<div class="row">
		<div class="col-3"></div>
		<div class="col-3">
			<a href="{% url 'quefaire_detail' sujet='innondation' %}"> {% trans "Innondation" %} </a>
		</div>
		<div class="col-3">
			{% trans "Feux de forêt" %}
		</div>
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-3">
			{% trans "Terrorisme" %}
		</div>
		<div class="col-3">
			{% trans "Verglas" %}
		</div>	
	</div>
{% endblock %}
