{# Structure du wiki #}
{# Structure en deux niveau #}

{% extends 'base.html' %}

{% load staticfiles %}
{% load i18n %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'que_faire/css/que_faire.css' %}" type="text/css" />
{% endblock %}

{% block content %}
	<h2>{% trans "Que faire en cas de catastrophe" %}</h2>

	<div class="row">
		<p>
		<div class="col-3 col-sm-5 que-faire_choix" id="que-faire_innondation">
			<a href="{% url 'quefaire_detail' sujet='innondation' %}"> {% trans "Innondation" %} </a>
		</div>
		</p>
		<p>
		<div class="col-3 col-sm-5 que-faire_choix" id="que-faire_feux-de-foret">
			<a>{% trans "Feux de forêt" %}</a>
		</div>
		</p>
	</div>
	<div class="row">
		<p>
		<div class="col-3 col-sm-5 que-faire_choix" id="que-faire_terrorisme">
			<a>{% trans "Terrorisme" %}</a>
		</div>
		</p>
		<p>
		<div class="col-3 col-sm-5 que-faire_choix" id="que-faire_verglas">
			<a>{% trans "Verglas" %}</a>
		</div>	
		</p>
	</div>
{% endblock %}
