{# Structure de base pour les procédures que-faire #}

{% extends 'base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'que_faire/css/que_faire.css' %}" type="text/css" />
{% endblock %}

{% block content %}
	<h2>{% block sujet %}{% endblock %}</h2>
	
	<div class="row">
		<div class="col-12">
			<a href="#ancre_prep">Se préparer</a><a href="#ancre_agir">Agir</a>		
		</div>
	</div>

	<h3 id="ancre_prep">Se préparer</h3>
	{% block preparation %}
		
	{% endblock %}
	<h3 id="ancre_agir">Agir</h3>
	<div class="row">
		<p class="bg-danger text-light rounded donnees-urgence col-12 text-center">
			En cas d'urgence ou de danger pour la vie, communiquez immédiatement avec les services d'urgence au 9-1-1
		</p>
	</div>
	{% block agir %}

	{% endblock %}
{% endblock %}
