{# Permet de sélectionner les ressources à utiliser #}

{% extends 'ressources.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
	Sélectionner une ressource
{% endblock %}

{% block content %}
	<h2>{% trans 'Listes des ressources disponibles' %}</h2>
	<p>{% trans "Vous trouverez ici l'ensemble des ressources disponibles dans votre secteur." %}
	<br />{% trans "Cliquez sur un service pour connaître l'emplacement de la ressource la plus près de votre secteur." %}
	<br />{% trans "Cette liste est mise à jour en cas de besoin." %}</p>
	<div class="row justify-content-center">
		<!--<div class="col-md-3">&nbsp;</div>-->
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_medical">
			<p class="ressource_choix"><a href="{% url 'detail_ressource' choix=1 %}">{% trans 'Médical' %}</a></p>
		</div>
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_hebergement">
			<p class="ressource_choix"><a href="{% url 'detail_ressource' choix=0 %}">{% trans 'Hébergement' %}</a></p>
		</div>
	</div>
	<div class="row justify-content-center">
		<!--<div class="col-md-3">&nbsp;</div>-->
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_nourriture">
			<p class="ressource_choix"><a href="{% url 'detail_ressource' choix=3 %}">{% trans 'Nourriture' %}</a></p>
		</div>
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_financiere">
			<p class="ressource_choix"><a href="{% url 'detail_ressource' choix=5 %}">{% trans 'Aide financière' %}</a></p>
		</div>
	</div>
	<div class="row justify-content-center">
		<!--<div class="col-md-3">&nbsp;</div>-->
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_psychologique">
			<p class="ressource_choix"><a href="{% url 'detail_ressource' choix=4 %}">{% trans 'Aide psychologique' %}</a></p>
		</div>
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_transport">
			<p class="ressource_choix"><a href="{% url 'detail_ressource' choix=2 %}">{% trans 'Transport' %}</a></p>
		</div>
	</div>
{% endblock %}
