{# Permet de sélectionner les ressources à utiliser #}

{% extends 'ressources.html' %}

{% load staticfiles %}
{% load i18n %}

{% block title %}
	Sélectionner une ressource
{% endblock %}

{% block content %}
	<h2>{% trans 'Listes des ressources disponibles' %}</h2>
	<p>{% trans "Vous trouverez ici l'ensemble des ressources disponibles dans votre secteur." %}
	<br />{% trans "Cliquez sur un service pour connaître l'emplacement de la ressource la plus près de votre secteur." %}
	<br />{% trans "Cette liste est mise à jour en cas de besoin." %}</p>
	<div class="row justify-content-center">
		<!--<div class="col-md-3">&nbsp;</div>-->
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_medical">
			<p>{% trans 'Médical' %}</p>
		</div>
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_hebergement">
			<p>{% trans 'Hébergement' %}</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<!--<div class="col-md-3">&nbsp;</div>-->
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_nourriture">
			<p>{% trans 'Nourriture' %}</p>
		</div>
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_financiere">
			<p>{% trans 'Aide financière' %}</p>
		</div>
	</div>
	<div class="row justify-content-center">
		<!--<div class="col-md-3">&nbsp;</div>-->
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_psychologique">
			<p>{% trans 'Aide psychologique' %}</p>
		</div>
		<div class="col-3 col-sm-5 ressource_choix" id="ressource_transport">
			<p>{% trans 'Transport' %}</p>
		</div>
	</div>
{% endblock %}
