/* ---- Flexbox pour body ---- */
body>div {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
}

/* ---- Styles pour En-tête ---- */
header>div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
}
#ent_titre{
	
}
#entete-img {
	width: 128px;
}
.btn-group-vertical button{
	margin:1px;
}
h2 {
	margin-top: 20px !important;
	margin-bottom: 20px !important;
}


/* ---- Styles pour navigateur ---- */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	background-color: #546e7a;
	overflow: hidden;
}
nav li {
    float: left;
	padding: 0;
	margin: 0;
	border-right: 1px solid #bbb;
    text-decoration: none;
}
nav li a {
	display: block;
    color: white;
	padding: 8px 16px;
    text-decoration: none;
}
#btn-profil{
	float:right;
	border-right: 0px solid #bbb;
}
#echange_langue, #btn_deco, #user_id, #btn_conf1, #btn_conf2,#btn_conf3, #btn_inscription, #btn_MAJ{
	width:10em;
}
#user_id{
	text-align:center;
	padding-bottom:3px;
	color:black;
}
#btn_MAJ{
	margin-top:1em;
}

nav li a.active {
    background-color: #29434e;
    font-weight:bold;
}

/* - au survol - */
nav li a:hover {
    background-color: #29434e;
    color: white;
	font-weight:bold;
    text-decoration: none;
}
nav li a:hover:not(.active) {
    background-color: #29434e;
    color: white;
}

/* ---- Styles pour pied de page ---- */
#pp_info{
	background-color:#546e7a;
	color:white;
	padding-top:1em;
	margin-top:1em;
}
#pp_info a, #pp_signature a{
	color:white;
}
#pp_signature, #pp_signature a{
	background-color:#29434e;
	width:100%;
	height:30px;
	text-align:center;
	color:white;
}

/* ---- Styles pour ressources disponibles ---- */
.ressource_choix{
	margin:1%;
}